# Python virtual environments
.venv/
venv/
ENV/
D:\lqs\codeAbout\py\env\vector_bt_env/
D:\lqs\codeAbout\py\env/

# IDE files
.idea/

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Testing and cache directories
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# 忽略所有 parquet 文件
*.parquet

# 忽略所有 png 图片
*.png

# 忽略所有 log 文件和目录
*.log
logs/
log/

# 忽略配置和数据文件
*.yaml
*.xlsx
*.json
*.csv

# 本地凭据
quant_lib/tushare/tushare_token_manager/token.txt
